// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:           #27ae60;
$font-size-base:          16px !default;
$font-family-sans-serif:  "Maison Neue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$abxy-yellow: lighten(#FFFAE6, 2%);
$link-color: #2C9E90 !default;

.dead-center {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
