.navbar {
  background: white;
  z-index: 100;
}

.navbar-brand {
  height: 85px;
}

.navbar .navbar-toggle {
  top: 18px;
  border: none;
  position: relative;
  overflow: hidden;

  &:before {
    width: 20px;
    height: 20px;
    background: $abxy-yellow;
    content: '';
    position: absolute;
    top: -1px;
    right: 19px;
    z-index: -1;
    opacity: 0;
    transform: translateX(-20px);
    transition: all .2s ease-out;
  }

  .icon-bar {
    background: $gray-light;
    transition: background .2s ease-out;
  }

  &:hover, &:active, &:focus {
    background-color: transparent;

    &:before {
      transform: translateX(0px);
      opacity: 1;
    }

    .icon-bar {
      background-color: $gray-dark;
    }
  }
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-nav li a {
  transition: color .2s ease-out;
  text-transform: uppercase;
  letter-spacing: .5pt;
}

.navbar-nav li.current_page_item a, .navbar-nav li.current_page_parent a {
  color: $gray-dark;

  &:before {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media(min-width: $screen-sm-min) {
  .navbar-brand {
    height: 111px;
  }

  .navbar-nav li:last-of-type a {
    padding-right: 0;
  }

  .navbar-nav li a {
    line-height: 83px;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(1000px);

    &:hover {
    }
  }
}
