.navbar {
  background: white;
  z-index: 100;
}

.navbar-brand {
  height: 85px;
}

.navbar-toggle {
  top: 18px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-nav li.current_page_item a {
  color: $gray-dark;
}

@media(min-width: $screen-sm-min) {
  .navbar-brand {
    height: 105px;
  }

  .navbar-nav li a {
    line-height: 75px;
  }
}
