.floating-panel {
  background: $abxy-yellow;
  z-index: -1;
  @extend .dead-center;

  &.atelier-panel {
    width: 600px;
    height: 400px;
    right: -180px;
  }

  &.private-panel {
    width: 700px;
    height: 500px;
    top: 100px;
  }
}

.atelier-content {
  @media(min-width: $screen-sm-min) {
    padding-left: 50px;
  }
}

.main {
  z-index: 10;
}

.em-subheading {
  display: block;
  margin: 1em 0;
}

.carousel {
  .slick-arrow {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 25px;
    height: 25px;

    &:before {
      content: none;
    }

    &.slick-prev {
      background-image: url(../images/left-arrow.svg);
      background-repeat: no-repeat;
      left: 0px;

      @media(min-width: $screen-sm-min) {
        left: -55px;
      }
    }

    &.slick-next {
      background-image: url(../images/right-arrow.svg);
      background-repeat: no-repeat;
      right: 0px;

      @media(min-width: $screen-sm-min) {
        &.slick-next {
          right: -15px;
        }
      }
    }
  }
}

.carousel-slide {
  margin: 0 15px;

  @media(min-width: $screen-sm-min) {
    margin-right: 30px;
  }

  img {
    transition: box-shadow .2s ease-out;
  }

  &.slick-current img {
    @extend .z-depth-1;
  }

}

section.artist-box {
  padding: 15px 0;
  border-bottom: 1px solid $gray-lighter;

  &:last-of-type {
    border-bottom: 0;
  }
}

.artist-bio, .artist-image {
  @extend .col-xs-12;
  @extend .col-sm-6;
}

.artist-image img {
  @extend .z-depth-1;
}

section.artist-box:nth-of-type(even) {
  .artist-image {
    @extend .col-sm-push-6;
  }

  .artist-bio {
    @extend .col-sm-pull-6;
  }
}

.artist-row h2 {
  font-weight: bold;
}

@media(min-width: $screen-sm-min) {
  section.artist-box {
    padding: 75px 0;

    &:first-of-type {
      padding-top: 35px;
    }
  }

  .artist-row h2 {
    margin-top: 0;
  }
}

.btn-transparent {
  background: transparent;
  font-weight: bold;
  border-color: $gray-dark;
  border-width: 2px;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  transition: background .2s ease-out;

  &:hover {
    background: rgba(255,255,255, .75);
  }
}


// Helpers
.sm-top-offset-75 {
  @media(min-width: $screen-sm-min) {
    padding-top: 75px;
  }
}
