body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba($brand-primary, .25); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba($brand-primary, .25); /* Gecko Browsers */
}

.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

.content-heading {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  @extend .h3;
  letter-spacing: 1.25pt;

  &.add-top-marg {
    margin-top: 35px;
  }
}

main {
  @media(min-width: $screen-sm-min) {
    padding: 35px 0 55px;

    p {
      font-size: 14px;
    }
  }

}


.mbxl {
  margin-bottom: 25px;

  @media(min-width: $screen-sm-min) {
    margin-bottom: 0;
  }
}

.atelier-content {
  @media(min-width: $screen-sm-min) {
    padding-left: 50px;
  }
}

.main {
  z-index: 10;
}

.em-subheading {
  display: block;
  margin: 1em 0;
}

.nav-links {
  margin: 1em 0 0 0;
  text-align: center;
  color: $gray-light;
  font-size: 1.15em;

  a {
    color: inherit;
  }

  .nav-previous, .nav-next {
    display: inline-block;
    margin: 0 10px;
  }
}

.carousel {
  .slick-arrow {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 25px;
    height: 25px;

    &:before {
      content: none;
    }

    &.slick-prev {
      background-image: url(../images/left-arrow.svg);
      background-repeat: no-repeat;
      left: 0px;

      @media(min-width: $screen-sm-min) {
        left: -55px;
      }
    }

    &.slick-next {
      background-image: url(../images/right-arrow.svg);
      background-repeat: no-repeat;
      right: 0px;

      @media(min-width: $screen-sm-min) {
        &.slick-next {
          right: -15px;
        }
      }
    }
  }
}

.carousel-slide {
  margin: 0 15px;

  @media(min-width: $screen-sm-min) {
    margin-left: 0;
    margin-right: 30px;
  }

  img {
    box-shadow: none;
    transition: box-shadow .2s ease-out;
  }

  &.slick-current img {
    @extend .z-depth-1;
  }
}

section.artist-box {
  padding: 15px 0;
  border-bottom: 1px solid $gray-lighter;

  &:last-of-type {
    border-bottom: 0;
  }
}

.artist-bio, .artist-image {
  @extend .col-xs-12;
  @extend .col-sm-6;
}

.artist-image img {
  @extend .z-depth-1;
}

section.artist-box:nth-of-type(odd) {
  .artist-image {
    @extend .col-sm-push-6;
  }

  .artist-bio {
    @extend .col-sm-pull-6;
  }
}

.artist-row h2 {
  font-weight: bold;
}

@media(min-width: $screen-sm-min) {
  section.artist-box {
    padding: 75px 0;

    &:first-of-type {
      padding-top: 35px;
    }
  }

  .artist-row h2 {
    margin-top: 0;
  }
}

.btn-transparent {
  background: transparent;
  font-weight: bold;
  outline-color: $gray-lighter !important;
  border-color: $gray-dark;
  border-width: 2px;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  transition: background .2s ease-out;

  &:hover {
    background: rgba(255,255,255, .75);
  }
}

article.post {
  border-bottom: 1px solid $gray-lighter;
  padding: 25px 0;

  @media(min-width: $screen-sm-min) {
    padding: 35px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  header {
    text-align: center;
  }

  .entry-title {
    margin: 0 0 10px;
    font-weight: bold;
    transition: color .2s ease-out;

    a {
      transition: all .2s ease-out;
      @include linkUnderlines(#fff, $gray-dark);

      &:hover {
        @include linkUnderlines(#fff, $gray-light);
      }
    }
  }

  .entry-summary {
    position: relative;
    z-index: 1;

    p:first-child {
      &:after {
        content: '';
        width: 25px;
        height: 25px;
        top: -3px;
        left: -10px;
        z-index: -1;
        position: absolute;
        background: $abxy-yellow;
      }
    }

    p:first-child:first-letter {
      float: left;
      font-size: 50px;
      line-height: 43px;
      padding-top: 0px;
      padding-right: 8px;
      padding-left: 0px;
    }
  }
}

.article-meta {
  color: $gray-light;
  // letter-spacing: 15pt;
  font-size: 1.05em;
  padding: .5em 0 1em;
}

.ellipsis-link {
  background: url('../images/right-arrow.svg') no-repeat center center;
  background-size: 85%;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: -5px 5px;
  display: inline-block;
}

// Helpers
.sm-top-offset-small {
  @media(min-width: $screen-sm-min) {
    padding-top: 25px;
  }
}

.sm-top-offset-75 {
  @media(min-width: $screen-sm-min) {
    padding-top: 75px;
  }
}

.heading-sm-right {
  text-align: left;

  @media(min-width: $screen-sm-min) {
    text-align: right;
  }
}

.col-centered {
  margin: 0 auto;
  float: none !important;
}

.artist-link {
  display: inline-block;
  color: $gray;
  margin: 1em 0;
  text-decoration: none;
  padding-bottom: 7px;
  box-shadow: inset 0 -1px 0 0 $gray-light;
  transition: box-shadow .2s ease-out;

  &:hover, &:focus, &:visited {
    text-decoration: none;
    color: $gray;
    box-shadow: inset 0 -1px 0 0 $gray-dark;
  }
}

.splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .splash-inner {
    width: 75%;
  }

  .splash-logo {
    margin: 0 auto;
  }
}


.splash-navigation {
  @extend .list-inline;
  margin: 20px 0 0 0;

  li a {
    text-transform: uppercase;
    color: $gray-dark;
  }
}
